#map-all-stations {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    max-height: 80%;
    width: 600px;
    max-width: 100%;
}